.App {
}

#cube-rotate {
  transform-style: preserve-3d;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transform: rotateY(0deg);
}

#cube-scale {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
}
